.form {
  border: 2px solid #504df1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 25px;
}
.label {
}
.input {
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}
.button {
  background-color: #504df1;
  border: 2px solid #504df1;
  border-radius: 5px;
  padding: 10px;
}
